<?xml version="1.0" encoding="utf-8" ?>
<!--
    
    Important: Before enabling this including file or changing any of the settings, read the Sitecore 6.3 Scaling Guide
    (http://sdn.sitecore.net/Reference/Sitecore 6/Scaling Guide.aspx)
    
    -->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<settings>
			<setting name="GraphQL.Enabled" value="true" />
			<setting name="GraphQL.ExposePlayground" value="true" />

			<!-- Purpose: This include file shows how to change elements in the <settings> section
of the web.config file
To enable this, rename this file so that it has a ".config" extension
Notice that when changing simple settings like this, you can typically put in the
setting directly without using "patch:attribute" like we do in the structure below.
But you can also use "patch:attribute" for clarity: -->
    <setting name="RequireLockBeforeEditing">
      <patch:attribute name="value">false</patch:attribute>
    </setting>
	<!--  REQUIRE LOCK BEFORE EDITING
            If true, the user must have a lock on a document before
            he can edit it, otherwise it is always ready for editing
      -->
      <setting name="Environment" value="$(env:CURRENT_ENV_NAME)"/>

<setting name="JavaScriptServices.ViewEngine.Http.JssEditingSecret" value="8rhfzryp5p3ta8xgb6xxy9iokcla34t8d9ioiq3j3g8m" />		</settings>

	</sitecore>
</configuration>